<h1>All Shelters</h1>

<% @shelters.each do |shelter|%>
    <section class="shelter-<%= shelter.id %>">
        <h3><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h3>
        <%= link_to "Edit Shelter", "/shelters/#{shelter.id}/edit" %><br>
        <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %><hr>
    </section>
<% end %>
<br>
<br>
<%= link_to "Add New Shelter", "/shelters/new" %><br>
<%= link_to "View Pets", "/pets" %>

