<h1>All Pets</h1>

<% @pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
        <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
        <img style="width:40vw" src="<%= pet.image %>">
        <p>Age: <%= pet.age %></p>
        <p>Sex: <%= pet.sex %></p>
        <p>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p><hr>
    </section>
<% end %><br>
<%= link_to "Back to Shelters", shelters_path %>

    