<h1>All Pets</h1>

<% @pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
        <h3>Name: <%= pet.name %></h3>
        <img style="width:40vw" src="<%= pet.image %>">
        <h5>Age: <%= pet.age %></h5>
        <h5>Sex: <%= pet.sex %></h5>
        <h5>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></h5>
    </section>
<% end %>
    