<h1>All Pets</h1>

<% @pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
        <h3>Name: <%= pet.name %></h3>
        <img style="width:40vw" src="<%= pet.image %>">
        <h4>Age: <%= pet.age %></h4>
        <h4>Sex: <%= pet.sex %></h4>
        <h4>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></h5><hr>
    </section>
<% end %><br>
<%= link_to "Back to Shelters", shelters_path %>

    